   <!-- best sellers -->
   <div class="product_list best_seller section_padding container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>Best Sellers </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12">
        <div class="best_product_slider owl-carousel">
          <div class="single_product_item">
            <img src="/images/18.jpg" alt="" height="200px" width="250px"/>

            <div class="single_product_text">
              <h4>Trolley</h4>
            </div>
          </div>
          <div class="single_product_item">
            <img src="/images/19.jpg" alt="" height="200px" width="250px"/>

            <div class="single_product_text">
              <h4>File Rack</h4>
            </div>
          </div>
          <div class="single_product_item">
            <img src="/images/21.jpg" alt="" height="200px" width="250px"/>

            <div class="single_product_text">
              <h4>Crocker Rack</h4>
            </div>
          </div>
          <div class="single_product_item">
            <img src="/images/22.jpg" alt="" height="200px" width="250px"/>

            <div class="single_product_text">
              <h4>Glass Showcase</h4>
            </div>
          </div>
          <div class="single_product_item">
            <img src="/images/23.jpg" alt="" height="200px" width="250px"/>

            <div class="single_product_text">
              <h4>Gondola Rack</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- clients -->
  <div class="container client_logo padding_top">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
            <h2>Our Customers </h2>
          </div>
        <div class="single_client_logo">
          <img src="/images/seller/1.png" alt="" height="100px"width="100px" />
        </div>
        <div class="single_client_logo">
            <img src="/images/seller/2.jpg" alt="" height="100px"width="100px"/>

        </div>
        <div class="single_client_logo">
            <img src="/images/seller/3.png" alt="" height="100px"width="100px"/>

        </div>
        <div class="single_client_logo">
            <img src="/images/seller/4.png" alt="" height="100px"width="100px"/>

        </div>
        <div class="single_client_logo">
            <img src="/images/seller/5.png" alt="" height="100px"width="100px"/>

        </div>
        <div class="single_client_logo">
            <img src="/images/seller/6.png" alt="" height="100px"width="100px"/>
        </div>
        <div class="single_client_logo">
            <img src="/images/seller/7.png" alt="" height="100px"width="100px"/>
        </div>
        <div class="single_client_logo">
            <img src="/images/seller/8.png" alt="" height="100px"width="100px"/>
        </div>
        <div class="single_client_logo">
            <img src="/images/seller/9.png" alt="" height="100px"width="100px"/>
        </div>
        <div class="single_client_logo">
            <img src="/images/seller/10.png" alt="" height="100px"width="100px"/>
        </div>
      </div>
    </div>
  </div>  
  <!-- footer -->
  <footer class="footer_part">
    <div class="container">
      <div class="row justify-content-around">
        
        <div class="col-sm-6 col-lg-3">
          <div class="single_footer_part">
            <h4>Top Products</h4>
            <ul class="list-unstyled">
              <li><a href="/GondolaRack">Gondola Racks</a></li>
              <li><a href="/HeavyDutyRack">Heavy Duty Racks</a></li>
              <li><a href="/MobileRack">Mobile Racks</a></li>
              <li><a href="/GarmentsRacks">Garments Racks</a></li>
              <li><a href="/AngleRack">Angle Racks</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="single_footer_part">
            <h4>Services</h4>
            <ul class="list-unstyled">
              <li><a href="/">Rack Installation</a></li>
              <li><a href="/">Rack Fitting</a></li>
              <li><a href="/">Equipment Installation</a></li>
              <li><a href="/">Generator Reparing</a></li>
              <li><a href="/">Generator Tunning</a></li>

            </ul>
          </div>
        </div>
      
        <div class="col-sm-6 col-lg-3">
          <div class="single_footer_part">
            <h4>Contact Us</h4>
            <ul class="list-unstyled">
              <li><a href="/">Near Punjab University Ali Pur Chowk,
                Gujranwala.</a></li>
              <li><a href="/">info@amepk.com</a></li>
              <li><a href="/">+92 321 6491904</a></li>
            </ul>
          </div>
        </div>
        
    <div class="copyright_part container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="copyright_text">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | Developed By
               
                <a href="https://sourcerer.io/drb372" target="_blank">DRB</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer_icon social_icon">
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="single_social_icon"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="single_social_icon"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>

                <li>
                  <a href="#" class="single_social_icon"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jquery plugins here-->
  <script src="/javascripts/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/javascripts/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/javascripts/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/javascripts/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/javascripts/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/javascripts/slick.min.js"></script>
  <script src="/javascripts/jquery.counterup.min.js"></script>
  <script src="/javascripts/waypoints.min.js"></script>
  <script src="/javascripts/contact.js"></script>
  <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
  <script src="/javascripts/jquery.form.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/mail-script.js"></script>
  <script src="/javascripts/stellar.js"></script>
  <script src="/javascripts/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/javascripts/custom.js"></script>
</body>
</html>
