<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Al-Mehmood Enginnering</title>
    <link rel="icon" href="/images/logo.png" />
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  
    <link rel="stylesheet" href="/stylesheets/animate.css" />
    
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" />
  
    <link rel="stylesheet" href="/stylesheets/all.css" />
    <link rel="stylesheet" href="/stylesheets/nice-select.css" />
    <link rel="stylesheet" href="/stylesheets/price_rangs.css" />
    
    <link rel="stylesheet" href="/stylesheets/flaticon.css" />
    <link rel="stylesheet" href="/stylesheets/themify-icons.css" />
   
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css" />
    
    <link rel="stylesheet" href="/stylesheets/slick.css" />
    
    <link rel="stylesheet" href="/stylesheets/style.css" />


  
    <!--::header part start::-->
  