<%- include('./includes/header') %>
</head>
  <!-- Header part end-->

  <!-- banner part start-->
  <body>
    <%- include('./includes/navigation') %>
    <!-- Header part end-->

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb" style="background-color:#ECFDFF;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item" style="text-align: center;">
                           <h1>Al-Mahmood Engineering</h1>
                            <h2>About Us</h2>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
              
                <div class="col-lg-8">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3 style="font-size: 22px;">Al-Mahmood Engineering</h3>
                            </div>
                            <div class="about-details section-padding30">
                                <div class="container">
                                    <div class="row">
                                        <div class="offset-xl-1 ">
                                            <div class="about-details-cap mb-50">
                                                <h3 style="padding: 10px;">Our Mission</h3>
                                                <p>To provide leading finest quality and economical engineering solutions.</p>
                                            </div>
                    
                                            <div class="about-details-cap mb-50">
                                                <h3  style="padding: 10px;">Our Vision</h3>
                                            <p style="text-align: justify;">Our mission is to provide customers with value through long lasting engineering solutions to satisfy their customized requirements. We provision these solutions by considering our empowered human resource and skilled operations. We build our brand by serving customers with sustainable quality and economical solutions while caring for the environment.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="">
                            <img style="display: block;margin-left: auto;margin-right: auto;padding: 5px;" src="/images/1.jpg">
                            <img style="display: block;margin-left: auto;margin-right: auto;padding: 5px;" src="/images/3.jpg">
                          
                        </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="product_list best_seller section_padding container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section_tittle text-center">
              <h2>AME TEAM </h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-12">
            <div class="best_product_slider owl-carousel">
              
              <div class="single_product_item">
                <img src="/images/avatar.png" alt="" height="200px" width="250px"/>
    
                <div class="single_product_text">
                  <h4>CEO </h4>
                  <h5>Atta ur Rehman</h5>
                </div>
              </div>
              <div class="single_product_item">
                <img src="/images/avatar.png" alt="" height="200px" width="250px"/>
    
                <div class="single_product_text">
                  <h4>Director Research & Development</h4>
                  <h5>Zia ur Rehman</h5>
                </div>
              </div>
              <div class="single_product_item">
                <img src="/images/avatar.png" alt="" height="200px" width="250px"/>
    
                <div class="single_product_text">
                  <h4>Director Operations</h4>
                    <h5>Muhammad Hamza</h5>
                </div>
              </div>
              <div class="single_product_item">
                <img src="/images/avatar.png" alt="" height="200px" width="250px"/>
    
                <div class="single_product_text">
                  <h4>Director Business Development</h4>
                    <h5>Muhammad Ali</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%- include('./includes/footer') %>