<%- include('./includes/header') %>
</head>
  <!-- Header part end-->

  <!-- banner part start-->
  <body>
    <%- include('./includes/navigation') %>
    <!-- Header part end-->

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb" style="background-color:#ECFDFF;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item" style="text-align: center;">
                           <h1>Al-Mahmood Engineering</h1>
                            <h2>On Going Projects</h2>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <section class="blog_area padding_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="/GondolaRack">Gondola Racks</a>
                                        <span>(12)</span>
                                    </li>
                                    <li>
                                        <a href="/CantileverRack">Cantilever Racks</a>
                                        <span>(7)</span>
                                    </li>
                                    <li>
                                        <a href="/MobileRack">Mobile Racks</a>
                                        <span>(8)</span>
                                    </li>
                                    <li>
                                        <a href="/HeavyDutyRack">Heavy Duty Racks</a>
                                        <span>(6)</span>
                                    </li>
                                    <li>
                                        <a href="/AngleRack">Angle Racks</a>
                                        <span>(5)</span>
                                    </li>
                                    <li>
                                        <a href="/PharmaRack">Pharma Rocks</a>
                                        <span>(4)</span>
                                    </li>
                                    <li>
                                        <a href="/GlassShowcase">Glass Showcase</a>
                                        <span>(7)</span>
                                    </li>
                                    <li>
                                        <a href="/TraysandTrolleys">Trays and Trolleys</a>
                                        <span>(5)</span>
                                    </li>
                                    <li>
                                        <a href="/GarmentsRacks">Garments Racks</a>
                                        <span>(5)</span>
                                    </li>
                                    <li>
                                        <a href="/MobileAccessoryRacks">Mobile Accessory Racks</a>
                                        <span>(3)</span>
                                    </li>
                                    <li>
                                        <a href="/CrockerRacks">Crocker Racks</a>
                                        <span>(4)</span>
                                    </li>
                                    <li>
                                        <a href="/FileRacks">File Racks</a>
                                        <span>(5)</span>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                    </div>
                </div>
                <div class="col-lg-9 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="">
                                <div class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                 </div>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_2.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_3.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_4.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_5.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                
                            </div>
                        </article>

                    </div>
                </div>
                </div>
                </div>
    <!--================Category Product Area =================-->
 
    <%- include('./includes/footer') %>